<?xml version='1.0'?>

<launch>

<!-- global arguments -->
<arg           name           = 'car_name'
               default        = 'car_1'>

<!-- launch rviz with mapping configuration -->
<node          pkg            = 'rviz'
               type           = 'rviz'
               name           = 'rviz'
               args           = '-d $(find sim-tools)/rviz/$(arg car_name).rviz'/>

<launch>
