<?xml version='1.0'?>

<launch>

<!-- launch rviz with mapping configuration -->
<node          pkg            = 'rviz'
               type           = 'rviz'
               name           = 'rviz_$(arg car_name)'
               args           = '-d $(find sim-tools)/rviz/$(arg car_name).rviz'/>

</launch>
